@model AuthenticationLab.Models.IndexViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome @Model.FirstName</h1>
    } else
    {
        <h1 class="">Welcome, please log in or register</h1>
    }
    @* <h1 class="display-4">Welcome</h1> *@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
